@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Ми дбаємо про вашу конфіденційність та використання файлів cookie. Наша політика полягає в зборі обмеженої кількості персональних даних лише для забезпечення найкращого користувацького досвіду.
        Ми використовуємо файли cookie лише з метою поліпшення роботи нашого сайту та надання персоналізованої інформації.
        Ви можете керувати налаштуваннями файлів cookie в своєму браузері. Детальну інформацію про нашу політику конфіденційності та використання файлів cookie ви можете знайти на нашому веб-сайті. 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Вивчити Ще</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Прийняти</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
