@{
    ViewData["Title"] = "Створити коди відновлення для двофакторної аутентифікації (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ця дія генерує нові коди відновлення.</strong>
    </p>
    <p>
        Якщо ви втратите свій пристрій і не маєте кодів відновлення, ви втратите доступ до свого облікового запису.
    </p>
    <p>
        Створення нових кодів відновлення не змінює ключі, які використовуються в додатках для аутентифікації. Якщо ви бажаєте змінити ключ, використований в додатку для аутентифікації, вам слід
        <a asp-action="ResetAuthenticatorWarning">скинути ваші ключі аутентифікації.</a>
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Створити коди відновлення</button>
    </form>
</div>