@{
    ViewData["Title"] = "Скинути ключ аутентифікації";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Якщо ви скинете ключ аутентифікації, ваш додаток для аутентифікації не буде працювати, поки ви не переконфігуруєте його.</strong>
    </p>
    <p>
        Цей процес вимикає двофакторну аутентифікацію до тих пір, поки ви не підтвердите налаштування свого додатка для аутентифікації і також скине ваші коди відновлення для двофакторної аутентифікації. 
        Якщо ви не завершите налаштування додатка для аутентифікації, ви можете втратити доступ до свого облікового запису
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Скинути ключ аутентифікації</button>
    </form>
</div>