@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Двофакторна аутентифікація";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>У вас не залишилось кодів відновлення.</strong>
            <p>Ви повинні <a asp-action="GenerateRecoveryCodes">Створити новий набір кодів відновлення</a> Перш ніж ви зможете увійти за допомогою коду відновлення.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>У вас залишився 1 код відновлення.</strong>
            <p>Ви можете <a asp-action="GenerateRecoveryCodes">сгенерувати новий набір кодів відновлення.</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>У вас залишилось @Model.RecoveryCodesLeft кодів відновлення.</strong>
            <p>Ви повинні <a asp-action="GenerateRecoveryCodes">сгенерувати новий набір кодів відновлення</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Відключити двофакторну аутентифікацію</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Скинути коди відновлення</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Додати застосунок для аутентифікації</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Налаштувати застосунок для аутентифікації</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Відновити ключ аутентифікації</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
